{{ if eq .chezmoi.os "windows" }}
sourceDir = "{{ .chezmoi.homeDir | replace "\\" "/" }}/dotfiles"

[interpreters.ps1]
    command = "{{ if lookPath "pwsh" }}pwsh{{ else }}powershell{{ end }}"
    args = ["-NoLogo", "-NoProfile", "-NonInteractive", "-File"]

[interpreters.sh]
    command = "wsl.exe"
    args = ["-e", "bash", "-c", "bash \"$(wslpath -u \"$0\")\""]

{{ else if eq .chezmoi.os "linux" }}
[interpreters.ps1]
    command = "true"

{{ end }}
[data]
    email = "{{ promptStringOnce . "email" "Email address" }}"
    name = "{{ promptStringOnce . "name" "Full name" }}"
{{ if and (eq .chezmoi.os "linux") (not (contains "microsoft" .chezmoi.kernel.osrelease)) }}
    weather_city = "{{ promptStringOnce . "weather_city" "Weather city (e.g. Joinville, Brazil, BR)" }}"
    weather_city_id = "{{ promptStringOnce . "weather_city_id" "Weather city ID (e.g. 3459712)" }}"
    wallpaper = "{{ promptStringOnce . "wallpaper" "Wallpaper path (e.g. /home/user/wallpapers/wps/now/cashmere.jpg)" }}"
    activity_id = "{{ promptStringOnce . "activity_id" "KDE Activity ID (run: qdbus org.kde.ActivityManager /ActivityManager/Activities ListActivities)" }}"
    fingerprint = {{ promptBoolOnce . "fingerprint" "Enable fingerprint reader setup" }}
{{ end }}
