#!/usr/bin/env zsh

export ZDOTDIR="$HOME"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"

export EDITOR="vim"
export VISUAL="$EDITOR"

typeset -U path
{{ if eq .chezmoi.os "windows" -}}
path=(
    "$HOME/.local/bin"
    "$HOME/dotfiles/bin"
    "/c/ProgramData/chocolatey/bin"
    $path
)
{{ else -}}
path=(
    "$HOME/.local/bin"
    "$HOME/.opencode/bin"
    "$HOME/.npm-global/bin"
    "$HOME/.cargo/bin"
    $path
)
path=("${(@)path:#/mnt/c/Program Files/Docker/Docker/resources/bin}")
path=("${(@)path:#/mnt/c/Program Files/nodejs}")
path=("${(@)path:#/mnt/c/Users/*/AppData/Roaming/npm}")
export NPM_CONFIG_USERCONFIG="$HOME/.npmrc"
{{ end -}}
